* { 
  margin: 0;
  padding: 0;
}

article {
  padding-left: 8rem;
  padding-right: 8rem;
}

body { 
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
	background-color:azure;
}

ul {
  list-style-type: none;
}

article li {
  margin-left: -1rem;
}

/* Nav */

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  margin-left: -0.3rem;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

nav .flags {
  padding-left: 1.5rem;
}

nav .flags a {
  padding: 0;
}

nav .flags img {
  width: 20px;
}

nav .flags a:hover {
  background-color: #333;
}

/* header */

#headerInfo {
  display: flex;
}

#headerInfo div {
  margin: 0.5rem;
}

#headerLeft {
  width: 30%;
}

#headerRight {
  width: 70%;
  padding-left: 8rem;
  padding-right: 8rem;
}

header ul {
  list-style-type: none;
}

header img {
  height: 300px;
  padding-left: 8rem;
}

#headerRight h1 {
  /*margin: 2rem;*/
  margin: 3rem;
  margin-left: 2rem;
}

/* main */

h2, h3 {
  margin: 1rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.2rem;
}

ul {
  margin-left: 2rem;
  /*list-style-type: lower-greek;*/
}

.volver {
  text-align: right;
  margin: 1rem;
}

.volver a {
  text-decoration: none;
}

/* Experiencia */
.experiencia {
  display: flex;
}

/* Informática */
.informatica {
  display: flex;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

footer img {
  width: 32px;
}

footer li {
  float: right;
  margin-right: 0.7rem;
  height: 100%;
  font-size: 15px;
}

#powered, #rrss {
  width: 50%;
}

#powered {
  text-align: left;
  margin-left: 2rem;
}

#rrss {
  margin-right: 1rem;
}